.container {
  padding: 0.9em 0.9em 1em 0.9em;
  margin-top: .5em;
  width: 282px;
  background-color: rgb(231, 231, 231);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cover {
  width: 100%;
}

.container h2, .favorites {
  padding: 0 1em;
}

.favorites {
  width: 25px;
}