.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(235, 235, 235);
  height: 4rem;
}

.footer h2 {
  font-size: 18px;
}

.footer img {
  width: 30px;
  padding: 1em;
}
