.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  margin-top: 2rem;
  padding: 0.1em 20em;
  background-color: rgb(235, 235, 235);
}

.footer h2 {
  font-size: 18px;
  margin-bottom: 20px;
}

.footer img {
  width: 30px;
  padding: 1em;
}